$red: #F44336;
$light-red: #FFCDD2;
$dark-red: #D32F2F;
$pink: #E91E63;
$blue: #2196F3;
$dark-blue: #1976D2;
$light-blue: #03A9F4;
$indigo: #3F51B5;
$purple: #9C27B0;
$deep-purple: #673AB7;
$light-pink: #F8BBD0;
$green: #4CAF50;
$light-green: #8BC34A;
$dark-green: #689F38;
$yellow : #FFEB3B;
$amber: #FFC107;
$orange: #FF9800;
$light-orange: #FFE0B2;
$dark-orange: #F57C00;
$grey: #9E9E9E;
$blue-grey: #607D8B;
$brown: #795548;
$dark-brown: #5D4037;
$light-brown: #D7CCC8;
$black: #212121;
$white: #FFFFFF